/* myStyle.css */
body {
  background-color: #2E4077;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10%;
}
table {
    border: thick solid black;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
form {
  background-color: white;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
fieldset {
  border: none;
}
input {
  background-color: #A29F91;
}
div {
  border: thick solid black;
}
/*Navigation bar style */
.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #B18A36;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
    .navBar li {
        float: left;
    }
    .navBar li:last-child {
        float: right;
    }
        .navBar li a {
            font-size: xx-large;
            color: white;
            display: block;
            padding: .5em;
            margin-left: .5em;
            margin-right:.5em;
            text-decoration: none;
        }
        .navBar li a.active {
            font-size: xx-large;
            background-color: #B18A36;
            color: black;
            display: block;
            padding: .5em;
            margin-left: .5em;
            margin-right:.5em;
            text-decoration: none;
        }
            .navBar li a:hover:not(.active) {
                background-color: #B18A36;
                color: black;
            }
/* Social media bar style */
.socialMediaBar {
  text-align: center;
  padding: 0%;
  width: 75%;
  margin: auto;
  z-index: 1;
}
    .socialMediaBar li {
      display: inline-block;
    }
      .socialMediaBar li a {
        display: block;
        margin-right: .5em;
        padding-right: .5em;
      }
        .socialMediaBar li a img {
          height: 5em;
          width: 5em;
        }
/* Header image style */
.header_image {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
}
    .header_image img {
        width: 500px;
        height: 500px;
        border-radius: 250px;
    }

.mainContentImage {
    text-align: center;
    padding: 0%;
    width: 75%;
    margin: auto;
    z-index: 1;
}
    .mainContentImage li {
      display: inline-block;
    }
    .mainContentImage li:first-child {
      float: left;
      margin: 0;
      padding: 0;
    }
    .mainContentImage li:last-child {
      float: right;
    }
      .mainContentImage li figure {
          display: block;
      }
        .mainContentImage li figure img {
          height: 15em;
          width: 15em;
        }
.resumeButton {

  margin-left: 25%;
  margin-right: 25%;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  border: thick solid black;
}
  .resumeButton li {
    width: 100%;
    z-index: 1;
    display: inline;
    padding-right: 2em;
    border: thick solid black;
    padding: 0;
  }
    .resumeButton li:first-child {
      margin-left: 15%;
      margin-right: 7.5%
    }
    .resumeButton li:last-child {
      margin-left: 7.5%;
      margin-right: 15%;
    }
    .resumeButton li a {
        text-decoration: none;
        font-size: large;
        font-weight: bolder;
        text-align: center;
        color: white;
        background-color: #B18A36;
        padding: 2.5%;
        width: 100%
    }
        .resumeButton li a:hover {
            color: black;
            background-color: #B18A36;
        }
.Button {
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
  .Button li {
    width: 25%;
    z-index: 1;
    display: inline;
    padding-right: 2em;
  }
    .Button li a {
        text-decoration: none;
        font-size: large;
        font-weight: bolder;
        text-align: center;
        color: white;
        background-color: #B18A36;
        padding: 2.5%;
        width: 25%;
    }
        .Button li a:hover {
            color: black;
            background-color: #B18A36;
        }
.container {
    border: thin solid black;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: white;
    z-index: 1;
}
/*header content style */
#headers {
  color: white;
  font-weight: bolder;
  font-size: xx-large;
  background-color: inherit;
  text-align: center;
}
#sectionHeaders {
  color: black;
  font-weight: bolder;
  font-size: xx-large;
  background-color: inherit;
  text-align: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
#mainContent {
  text-align: left;
  font-size: large;
  margin-left: 2.5%;
  margin-right: 2.5%;
}


#singleLine {
    float: left;
    clear: left;
    width: 7.5em;
    text-align: left;
    margin-right: .5em;
}

#center{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border: thick solid black;
}

#presentation {
  width: 75%;
  height: 417px;
  margin-left: 12.5%;
  margin-right: 12.5  %;
}

#resumeIframe {
  width: 75%;
  height: 100%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
