/* myStyle.css */
body {
  background-color: #2E4077;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10%;
}
table {
    border: thick solid black;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
form {
  background-color: white;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
fieldset {
  border: none;
}
input {
  background-color: #A29F91;
}
div {
  border: thick solid black;
}

figcaption {
  color: white;
}
/*Navigation bar style */
/* Add a black background color to the top navigation */
.topnav {
  margin: 0;
  padding: 0;
  background-color:  #B18A36;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  border: none;
}

/* Style the links inside the navigation bar */
  .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: xx-large;
      margin-left: 2.5%;
  }

/* Change the color of links on hover */
    .topnav a:hover {
      background-color: #B18A36;
      color: black;
    }

/* Add an active class to highlight the current page */
    .topnav a.active {
      background-color: #B18A36;
      color: black;
    }

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
/* When the screen is less than 1200 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1200px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1200px) {
  body {
      margin-top: 20%;
  }
  .topnav.responsive {
    position: fixed;
    top: 0;
    width: 100%;
  }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

/* Social media bar style */
.socialMediaBar {
  text-align: center;
  padding: 0%;
  width: 75%;
  margin: auto;
  z-index: 1;
}
    .socialMediaBar li {
      display: inline-block;
    }
      .socialMediaBar li a {
        display: block;
        margin-right: .5em;
        padding-right: .5em;
      }
        .socialMediaBar li a img {
          height: 5em;
          width: 5em;
        }
/* Header image style */
.header_image {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
}
    .header_image img {
        width: 500px;
        height: 500px;
        border-radius: 250px;
    }

.mainContentImage {
    text-align: center;
    padding: 0%;
    width: 75%;
    margin: auto;
    z-index: 1;
}
    .mainContentImage li {
      display: inline-block;
    }
    .mainContentImage li:first-child {
      float: left;
      margin: 0;
      padding: 0;
    }
    .mainContentImage li:last-child {
      float: right;
    }
      .mainContentImage li figure {
          display: block;
      }
        .mainContentImage li figure img {
          height: 15em;
          width: 15em;
        }
.resumeButton {
  margin-left: 25%;
  margin-right: 25%;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
  .resumeButton li {
    width:25%;
    z-index: 1;
    display: inline;
    padding-right: 2em;
    padding: 0;
  }
    .resumeButton li:first-child {
        margin-left: 17.5%;
        margin-right: 7.5%;
    }
    .resumeButton li:last-child {
        margin-left: 8%;
        margin-right: 17.5%;
    }
    .resumeButton li a {
        text-decoration: none;
        font-size: large;
        font-weight: bolder;
        text-align: center;
        color: white;
        background-color: #B18A36;
        width: 100%;
        padding: 2.5%;
    }
        .resumeButton li a:hover {
            color: black;
            background-color: #B18A36;
        }

.Button {
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 0;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
  .Button li {
    width: 25%;
    z-index: 1;
    display: inline;
    padding-right: 2em;
  }
    .Button li a {
        text-decoration: none;
        font-size: large;
        font-weight: bolder;
        text-align: center;
        color: white;
        background-color: #B18A36;
        padding: 2.5%;
        width: 25%;
    }
        .Button li a:hover {
            color: black;
            background-color: #B18A36;
        }
.container {
    border: thin solid black;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: white;
    z-index: 1;
}
/*header content style */
#headers {
  color: white;
  font-weight: bolder;
  font-size: xx-large;
  background-color: inherit;
  text-align: center;
}

#sectionHeaders {
  color: black;
  font-weight: bolder;
  font-size: xx-large;
  background-color: inherit;
  text-align: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#mainContent {
  text-align: left;
  font-size: large;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#singleLine {
    float: left;
    clear: left;
    width: 7.5em;
    text-align: left;
    margin-right: .5em;
}

#center{
    width: 50%;
    margin-left: 25%;
    margin-right: 24.25%;
    border: thick solid black;
}

#presentation {
  width: 75%;
  height: 417px;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

#resumeIframe {
  width: 75%;
  height: 100%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
